<VirtualHost *:{{wp_apache_listen_port}}>
	ServerAdmin {{wp_admin_email}}
	ServerName {{wp_apache_hostname}}
	ServerAlias {{wp_apache_alias}}

	DocumentRoot {{wp_apache_documentroot}}

    <Directory />
        Options FollowSymLinks
        AllowOverride None
    </Directory>

	<Directory {{wp_apache_documentroot}}>
		Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Require all granted
	</Directory>


	ErrorLog /var/log/apache2/{{wp_apache_hostname}}-error.log
	LogLevel warn
	CustomLog /var/log/apache2/{{wp_apache_hostname}}-access.log combined

</VirtualHost>